form {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  font-size: 96px;
}

.correct {
  background-color: rgba(7, 153, 7, 0.295);
}

.highlight {
  background-color: rgba(255, 235, 60, 0.397);
}

.close {
  color: red;
  text-align: center;
}

input {
  font-size: 96px;
  border: none;
  border-bottom: 1px solid black;
  width: 20%;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.stats {
  position: absolute;
  bottom: 20vh;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
}
